*{
	margin: 0;
}

#MY_RESUME{
	padding: 80px;
	background-color: black;
	color: white;
	font-size: xxx-large;
	text-align: center;
}
nav{
	padding: 0px;
	background-color: gray;
	overflow: hidden;
}
nav a{
	padding: 30px ;
	background-color: gray;
	color: white; /*text*/
	font-size: x-large;
	text-decoration: none;
	display: block;	
}
nav a:hover{
	background-color: white;
	color: black;
}

.menu_left{
	float: left;
}
.menu_right{
	float: right;
}
#container{
	display: flex; /*chia bo cuc*/
	flex-wrap: nowrap;
}
#container a{
	
	text-decoration: none;
	color: black;
}

#left_side1{
	margin: 0px;
	padding: 10px;
	background-color: #f1f1f1;
	flex: 40%;
}
#right_side1{
	margin: 0px;
	padding: 10px;
	flex: 60%;
}

footer{
	padding: 10px;
	margin: 0px;
	text-align: center;
	background-color: gray;
	color: white;
}
footer a{
	color: white;
}

table{
	text-align: center;
}

table{
	border-collapse: collapse;
}

table td, table th{
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){
	background-color: #f2f2f2;
}

table tr:hover{
	background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: dimgray;
  color: white;
}

/*chay tu to qua nho*/
@media(max-width: 800px){
	#container{
		flex-wrap: wrap;
	}
	#left_side1{
		flex: 100%;
	}
	#right_side1{
		flex: 100%;
	}
}
@media(max-width: 500px){
	#container{
		flex-wrap: wrap;
	}
	#left_side1{
		flex: 100%;
	}
	#right_side1{
		flex: 100%;
	}
}
